#welcome {
    background-color: #cce0ff;
}

footer {
    background-color: #0d6efd;
}

.box-password {
    font-size: 24px;
    width: 600px;
    height: 50px;
    border: 1px solid #FF7418;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    cursor: default;
    padding: 1px 0;
    text-align: center;
    -webkit-transition: 0.35s linear;
    -moz-transition: 0.35s linear;
    -o-transition: 0.35s linear;
    outline: 0;
    background: black
}

.box-password:hover {
    background: black;
    color: orange;
    border: 1px solid #FF7418;
}

.box-password:focus {
    background: red;
    color: red;
    border: 1px solid #FF7418;
}

